<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ProCap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/slippry.css">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/color/default.css">
  <script src="assets/js/modernizr.custom.js"></script>
</head>

<body>
  <header>

    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">ProCap</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#intro">Home</a></li>
                <li><a href="#what">What we do</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>

  </header>
  <!-- section intro -->
  <section id="intro">
    <ul id="slippry-slider">
      <li>
        <a href="#slide1"><img src="assets/img/slide/apartment-building-dark-01.jpg" alt="We buy multi-family properties"></a>
      </li>
      <li>
        <a href="#slide2"><img src="assets/img/slide/apartment-building-dark-03.jpg" alt="We provide affordable housing"></a>
      </li>
    </ul>
  </section>
  <!-- end intro -->
  <!-- Section about -->
  <section id="what" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>Mission</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              We’re building a portfolio of multi-family properties that will produce passive income
              for the future while at the same time providing quality housing for those in the
              middle who often struggle to find adequate and affordable housing.
            </p>
          </div>
          <div class="heading">
            <h3><span>Strategy</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              We focus on investing in Opportunity Zones, identifying distressed apartment complexes
              that can be turned into safe, clean, and attractive residential properties that
              benefit their communities. A primary goal is to enhance the lives of those who live
              and work there by adding significant improvements to each investment.
            </p>
          </div>
          <div class="heading">
            <h3><span>Market</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              We identify areas with growing populations and job opportunities where there is a need
              for affordable housing for those in the lower middle class. Careful attention is given
              during the purchase process to locate properties that fit our long-term investment
              portfolio; we are not in this simply to flip properties.
            </p>
          </div>
          <div class="heading">
            <h3><span>Relationships</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              We develop strong relationships with service providers (commercial brokers,
              contractors, and property managers) who form the core of our team to meet those goals.
            </p>
          </div>
          <div class="heading">
            <h3><span>Customers</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              We’re looking for sellers with the desire to see their properties in the safe hands
              of those who will improve upon what they’ve already built. We have the capital and are
              prepared to evaluate, offer, and close in a time efficient manner making the process
              as smooth as possible and facilitating a speedy closing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="team-box">
            <img src="assets/img/people/ivan.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Ivan Hoyt</strong></h5>
              <p>
                Manager
              </p>
              <p class="summary">
                I’m a husband, father, grandpa, private pilot, experimental aircraft enthusiast,
                ordained pastor, and observer and student of nature. I grew up in South America,
                and speak fluent Spanish. From mixing cement and laying block, to carpentry work,
                my missionary dad taught me to love working with my hands. That eventually led to
                working on construction projects on three continents. For many years, I lived in
                Michigan where I had my own residential construction company, doing new builds as
                well as remodels, and also oversaw projects for a non-profit organization that
                owned 14 buildings in two towns.
              </p>
              <p class="summary">
                Three years ago I jumped into real estate investment, flipping or wholesaling most
                properties, but keeping two as rentals for my personal portfolio. There’s nothing
                more satisfying than taking a derelict or so-so property and turning it into a
                beautiful, clean home for someone. Now I’m ready to replicate the process on a
                larger scale with my son Jon as we focus on multi-family properties.
              </p>
              <ul class="social-profile">
                <li><a href="https://www.linkedin.com/in/ivanhoyt"><i class="fa fa-linkedin fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="team-box">
            <img src="assets/img/people/jonathan.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Jonathan Hoyt</strong></h5>
              <p>
                Investor
              </p>
              <p class="summary">
                I’m a husband, father, software developer in Silicon Valley, and real estate
                investor. I have over two decades of experience building businesses, products, and
                teams. I love to learn, iterate, and fail fast on the path to success. I strive to
                lead with a servant’s heart and improve the lives of those around me.
              </p>
              <p class="summary">
                My first experience in real estate was helping my dad in his construction business
                in Michigan back in the late 90s. Since then I became an accidental real estate
                investor when I moved to California and started renting our Indiana home. When dad
                transitioned into real estate investment a few years ago, I was intrigued by the
                entire process, and it felt like a natural progression to work with him again, this
                time building a portfolio of multi-family properties.
              </p>
              <ul class="social-profile">
                <li><a href="https://jonmagic.com"><i class="fa fa-globe fa-lg"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jonmagic"><i class="fa fa-linkedin fa-lg"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section about -->
  <!-- section contact -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>Get in touch</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              If you know about a multi-family property for sale in an Opportunity Zone or want to
              learn more about us and what we do please reach out.
            </p>
            <p><a href="mailto:ivan@procap.llc,jon@procap.llc?subject=ProCap website inquiry&body=Hi, I'm reaching out to learn more about ProCap.">send us an email</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section contact -->
  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aligncenter">
              <p>
                &copy; ProCap, LLC - All right reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
  <!-- javascript -->
  <script src="assets/js/jquery-1.9.1.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/classie.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/slippry.min.js"></script>
  <script src="assets/js/nagging-menu.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/jquery.scrollTo.js"></script>
  <script src="assets/js/jquery.fancybox.pack.js"></script>
  <script src="assets/js/jquery.fancybox-media.js"></script>
  <script src="assets/js/masonry.pkgd.min.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/jquery.nicescroll.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#slippry-slider').slippry(
        defaults = {
          transition: 'vertical',
          useCSS: true,
          speed: 5000,
          pause: 3000,
          initSingle: false,
          auto: true,
          preload: 'visible',
          pager: false,
        }
      )
    });
  </script>
  <script src="assets/js/custom.js"></script>
</body>
</html>
